{
  "plugins": ["transform-function-bind"],
  "env": {
    "development": {
      "presets": ["es2015"]
    },
    "production": {
      "presets": ["es2015"]
    },
    "es6": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
